html,
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
    /* box-shadow: 0 0 1px 1px black; */
}

body {
    /* --color1: rgba(60, 55, 68, 1);
    --color2: rgba(9, 12, 155, 1);
    --color3: rgba(61, 82, 213, 1);
    --color4: rgba(180, 197, 228, 1); */
    /* background-color: var(--color4); */
}