.generators {
    display: flex;
    justify-content: space-between;
    align-content: stretch;
    overflow-x: auto;
    margin: 1rem 0 0 0;
    transition: all 0.3s ease;    
}

.generator {
    padding: 1rem;
    margin: 0.5rem;
    box-shadow: 0 0px 5px 0px rgb(0, 0, 0);
    border-radius: 2px;
    cursor: pointer;
    background-color: white;
}

.draggable-droppable--occupied{
    background-color: var(--mdc-theme-secondary-light);
}

.draggable-source--placed{
    background-color: var(--mdc-theme-secondary-light);
}

.station {
    padding: 1rem;
    margin: 0.1rem;
    box-shadow: 0 0px 5px 0px rgb(0, 0, 0);
    height: 10rem;
    overflow-y: auto;
    transition: all 0.3s ease;
}
