<!doctype html>
<title>Admin Console - Power Case Competition</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
  <h1>Admin Console - Power Case Competition</h1>
  <div class=module>
    <h2>Actions</h2>
    <div class=submodule>
      <h3>Initialize database...</h3>
      <ul>
        <!-- Later, use for loop to generate ul -->
        <li>
            <a href="{{ url_for('admin', command=COMMANDS[0]) }}">
              <button>Initialize empty database</button>
            </a>
        </li>
      </ul>
      <h3>Populate database...</h3>
      <ul>
        <li>
            <a href="{{ url_for('admin', command=COMMANDS[1]) }}">
              <button>Populate database sample teams</button>
            </a>
        </li>
        <li>
            <a href="{{ url_for('admin', command=COMMANDS[2]) }}">
              <button>Populate database sample teams, submissions, zero-scores</button>
            </a>
        </li>
        <li>
            <a href="{{ url_for('admin', command=COMMANDS[6]) }}">
              <button>Update scores</button>
            </a>
        </li>
      </ul>
      <h3>Basic querying... (from sample teams, submissions, zero-scores)</h3>
      <ul>
        <li>
            <a href="{{ url_for('admin', command=COMMANDS[3]) }}">
              <button>Authenticate a team (static case)</button>
            </a>
        </li>
        <li>
            <a href="{{ url_for('admin', command=COMMANDS[4]) }}">
              <button>Submit one entry (static case)</button>
            </a>
        </li>
        <li>
            <a href="{{ url_for('admin', command=COMMANDS[5]) }}">
              <button>Print db</button>
            </a>
        </li>
      </ul>
    </div>
  </div>
  <div class=module>
    <h2>Tests</h2>
    <div class=submodule>
      <h3>Leaderboard</h3>
      <ul>
        <li><a href="{{ url_for('leaderboard') }}"><button>Leaderboard</button></a></li>
      </ul>
    </div>
  </div>
  <h2>Output</h2>
  {% if output %}
    <p>{{ output }}</p>
  {% endif %}
</div>
<!-- url_for() could not build URLs with / inside e.g. url_for('admin/hello') -->
