<div class="pgs-page">
	<div class="alert alert-danger" role="alert" id="auth-error-container" hidden>
		<h5 class="alert-heading" id="invalid-input-header" hidden>Invalid Input</h5>
		<h5 class="alert-heading" id="firebase-auth-error-header" hidden>Firebase Authentication Failure</h5>
		<hr>
		<p class="mb-0" id="auth-error-message" hidden></p>
	</div>
	
	<form class="mb-3">
		<div class="form-group input-group">
			<div>
				<label>Email</label>
			</div>
			<input type="email" class="form-control pgs-input" id="email" ng-model="email" />
		</div>
		<div class="form-group input-group">
			<div>
				<label>Password</label>
			</div>
			<input type="password" class="form-control pgs-input" id="password" ng-model="password" />
		</div>
		<div class="form-group input-group">
			<div>
				<label>Team Name</label>
			</div>
			<input type="text" class="form-control pgs-input" id="teamname" ng-model="teamname" />
		</div>

		<button type="submit" class="btn btn-primary pgs-btn" ng-click="register()">Register</button>
		<button type="submit" class="btn btn-primary pgs-btn" ng-click="login()">Login</button>
	</form>
</div>
