<div class="pgs-simulation">
    <div class="col-xs-6">
        <svg id="simulator-svg" ng-init="renderGrid()"></svg>
    </div>

    <div class="col-xs-6">
        <div class="pgs-node-profile">
            <div class="pgs-title">{{node.name}}</div>
            <div class="pgs-demand">
                <div class="pgs-subtitle">Demand Profile</div>
                <div class="col-xs-6">
                    <div>Real demands</div>
                    <svg id="node-real-demands" width="200" height="100"></svg>
                </div>
                <!-- <div>Real demands: {{node.demands.real}}</div> -->
                <div class="col-xs-6">
                    <div>Reactive demands</div>
                    <svg id="node-reactive-demands" width="200" height="100"></svg>
                </div>
                <!-- <div>Reactive demands: {{node.demands.reactive}}</div> -->
            </div>
            <div class="pgs-generator">
                <div class="pgs-subtitle">Generators Installed</div>
                <span ng-repeat="generator in node.generators | orderBy : ['type', 'capacity']">
                    <button class="btn btn-light" ng-click="removeGenerator(generator)">{{generator.type}}, capacity: {{generator.capacity}}</button>
                </span>
            </div>
        </div>
        <div class="pgs-inventory-profile">
            <div class="pgs-subtitle">Inventory Profile</div>
            <span ng-repeat="generator in generators | orderBy: 'type'">
                <button class="btn btn-default" ng-click="viewGeneratorInfo(generator)"  data-toggle="modal" data-target="#generator-profile-modal">{{generator.type}}</button>
            </span>
            <!-- <div id="generator-info" hidden></div> -->
        </div>
    </div>
</div>
 
<div class="modal fade" id="generator-profile-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title col-xs-6"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-description">
                    <div data-key="real_capacity">
                        <span>Real Capacity: </span>
                        <span>
                            <svg id="generator-profile-real-capacity" width="200" height="100"></svg>
                        </span>
                    </div>
                    <div data-key="reactive_capacity">
                        <span>Reactive Capacity: </span>
                        <span>
                            <svg id="generator-profile-reactive-capacity" width="200" height="100"></svg>
                        </span>
                    </div>
                    <div data-key="real_cost">
                        <span>Real Cost: </span>
                        <span>
                            <svg id="generator-profile-real-cost" width="200" height="100"></svg>
                        </span>
                    </div>
                    <div data-key="installation_cost">
                        <span>Installation Cost: </span>
                        <span></span>
                    </div>
                    <div data-key="unit_CO2">
                        <span>Unit CO2: </span>
                        <span></span>
                    </div>
                    <div data-key="count">
                        <span>Count: </span>
                        <span></span>
                    </div>
                    <div data-key="per_node_limit">
                        <span>Per Node Limit: </span>
                        <span></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>