<div class="pgs-simulation">
    <div class="col-xs-6">
        <svg id="simulator-svg" ng-init="renderGrid()"></svg>
    </div>

    <div class="col-xs-6">
        <div class="pgs-node-profile">
            <div>{{node.name}}</div>
            <div class="pgs-demand">
                <div>Demand Profile</div>
                <div>{{node.demand}}</div>
            </div>
            <div class="pgs-generator">
                <div>Generator Configurations</div>
                <span ng-repeat="generator in node.generators | orderBy : ['type', 'capacity']">
                    <button class="btn btn-light" ng-click="removeGenerator(generator)">{{generator.type}}, capacity: {{generator.capacity}}</button>
                </span>
            </div>
        </div>
        <div class="pgs-inventory-profile">
            <div>Inventory</div>
            <span ng-repeat="generator in generators | orderBy: 'type'">
                <button class="btn btn-light" ng-click="viewGeneratorInfo(generator)">{{generator.name}}</button>
            </span>
        </div>
    </div>
</div>