.pgs-page {
	margin: 24px;
}
.pgs-input {
	width: 300px !IMPORTANT;
	margin: 6px;
}
.pgs-btn {
	width: 120px;
	margin: 6px;
}
.pgs-btn-wide {
	width: 240px;
}
.pgs-td {
	vertical-align: middle !IMPORTANT;
}
.pgs-tab {
	cursor: pointer;
}
.pgs-tab-content {
	margin: 24px;
}

.pgs-inventory-profile {
	margin-top: 48px;
	height: 72px;
}
.pgs-submit-btn {
	float: right;
}
.pgs-title {
	font-size: large;
	margin-top: 12px;
	margin-bottom: 12px;
}
.pgs-subtitle {
	font-size: larger;
	margin-top: 6px;
	margin-bottom: 6px;
}
#generator-info {
	margin-top: 12px;
}

.modal-description {
	margin-left: 16px;
}

/* overwritting bootstrap classes */
.navbar {
	margin-bottom: 0 !IMPORTANT;
}
.navbar-brand {
	height: 36px !IMPORTANT;
}
.btn-group {
	margin: 6px;
}

.pgs-path {
	stroke: steelblue;
	stroke-width: 2px;
	fill: none;
}
.pgs-alert {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
	border-radius: 6px;
	margin-top: 12px;
	margin-left: calc(2.5%);
	margin-right: calc(2.5%);
	padding: 15px;
	position: absolute;
	top: 0;
	width: 95%;
	z-index: 1000;
	text-align: center;
}

.pgs-axis path,
.pgs-axis line {
	fill: none;
	stroke: gray;
	stroke-width: 1;
	shape-rendering: crispEdges;
}

#simulator-svg {
	width: 500px;
    height: 500px;
}

.journey{
  fill: none;
  stroke: white;
  stroke-width: 1;
  stroke-dasharray: 1px,2px;
}