<div class="pgs-navigation" style="margin-bottom:0">
    <button class="btn btn-default pgs-float-left-btn" ng-click="goBack()">&larr; Go Back</button>
    <div class="navbar-brand nav-link">{{challenge.name}}</div>
    <button class="btn btn-default pgs-float-right-btn" ng-click="logOut()">Log Out</button>
    <button class="btn btn-default pgs-float-right-btn" ng-click="viewLeaderBoard()">Leader Board</button>
    <button class="btn btn-default pgs-float-right-btn" ng-click="submitChallenge()">Submit</button>
</div>

<div class="pgs-page">
    <simulator-directive challenge="challenge"></simulator-directive>
</div>