<div class="pgs-navigation col-xs-11">
    <button class="btn btn-default pgs-float-left-btn" ng-click="goBack()">&larr; Go Back</button>
    <div class="navbar-brand nav-link">{{challenge.name}}</div>
    <button class="btn btn-default pgs-float-right-btn" style="margin-right:-48px" ng-click="submitChallenge()">Submit</button>
</div>

<div class="pgs-page col-xs-12">
<!--     <ul class="nav nav-tabs nav-justified">
        <li class="nav-link pgs-tab" ng-click="switchTab($event)" data-tab="statement"><a>Challenge Statement</a></li>
        <li class="nav-link pgs-tab active" ng-click="switchTab($event)" data-tab="simulation"><a>Challenge Simulation</a></li>
    </ul>
 -->
<!--     <div class="pgs-tab-content" ng-show="tab=='statement'">
        {{challenge.description}}
    </div>
 -->
    <div class="pgs-tab-content" ng-show="tab=='simulation'">
        <simulator-directive challenge="challenge"></simulator-directive>
    </div>
</div>