<div class="pgs-page">
	<div class="alert alert-danger" role="alert" id="auth-error-container" hidden>
		<h5 class="alert-heading" id="invalid-input-header" hidden>Invalid Input</h5>
		<h5 class="alert-heading" id="firebase-auth-error-header" hidden>Firebase Authentication Failure</h5>
	</div>

	<div class="mb-3">
		<div class="form-group input-group">
			<div>
				<label>Email</label>
			</div>
			<input type="email" class="form-control pgs-input" id="email" ng-model="email" />
		</div>
		<div class="form-group input-group">
			<div>
				<label>Password</label>
			</div>
			<input type="password" class="form-control pgs-input" id="password" ng-model="password" />
		</div>
		<div id="team-name" class="form-group input-group">
			<div>
				<label>Team Name</label>
			</div>
			<input type="text" class="form-control pgs-input" id="teamname" ng-model="teamname" />
		</div>

		<button type="submit" class="btn btn-primary pgs-btn" ng-click="register()">Register</button>
		<button type="submit" class="btn btn-primary pgs-btn" ng-click="login()">Login</button>

		<div style="padding-top:12px">
			<small>If you have issues with account registration and logging in, please contact
				<a>pgsim.admin@gmail.com</a>
			</small>
		</div>
	</div>
</div>

<div class="modal fade" id="team-management-modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title col-xs-6">Team Secret Code</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div id="collect-team-name" class="modal-description" hidden>
					<div class="form-group input-group">
						<div>Please enter a team name for registration:</div>
						<input type="text" class="form-control pgs-input" id="team-name-input" />
					</div>
				</div>
				<div id="distribute-team-secret-code" class="modal-description" hidden>
					<div>
						<span>Your team secret code is: </span>
						<input id="pgs-secret-code" class="pgs-secret-code"></input>
						<span>
							<button class="btn btn-default pgs-copy-btn" ng-click="copySecretCode()">Copy</button>
						</span>
					</div>
					<div class="pgs-notice">Please remember team secret code for we may ask for the code when you log in again.</div>
				</div>
				<div id="collect-team-secret-code" class="modal-description" hidden>
					<div class="form-group input-group">
						<div>Please enter team secret code:</div>
						<input type="text" class="form-control pgs-input" id="secret-code-input" />
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" id="submit-team-name">Done</button>
				<button type="button" class="btn btn-secondary" id="submit-secret-code">Done</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>