/* pgs page layout styling */
.pgs-page {
	margin: 24px;
}
.pgs-navigation {
    margin: 24px;
}


/* pgs basic component styling */
.pgs-input {
	width: 300px !IMPORTANT;
	margin: 6px;
}

.pgs-btn {
	width: 120px;
	margin: 6px;
}
.pgs-float-right-btn {
    margin-right: 12px;
	float: right;
}
.pgs-float-left-btn {
    float: left;
}

.pgs-table {
    margin-top: 12px;
}
.pgs-td {
	vertical-align: middle !IMPORTANT;
}

.pgs-tab {
	cursor: pointer;
}
.pgs-tab-content {
	margin: 24px;
}


/* pgs log in view styling */
.pgs-secret-code {
    font-style: italic;
    font-weight: bolder;
    width: 200px;
    border: none;
    cursor: text;
    outline: 0;
}
.pgs-copy-btn {
    height: 24px;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 12px;
}
.pgs-notice {
    color: #a94442;
    font-size: small;
    margin-top: 24px;
}


/* pgs challenge view styling */
.pgs-instructions {
    margin-top: calc(50%);
}
.pgs-title {
	font-size: x-large;
	margin-top: 12px;
	margin-bottom: 12px;
}
.pgs-subtitle {
	font-size: larger;
	margin-top: 6px;
	margin-bottom: 6px;
}
.pgs-info-span {
    vertical-align: top;
}
.pgs-inventory-profile {
	margin-top: 48px;
	height: 72px;
}
.pgs-tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.pgs-disabled {
    outline: none !IMPORTANT;
}


/* pgs simulation view styling */
#pgs-simulation-svg {
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    border-radius: 10px;
}
.dragging {
    opacity: 0.7;
}
.stuck {
    opacity: 0.7;
}


/* pgs evalation view styling */
.pgs-info-header {
    margin-bottom: 12px;
}
.pgs-evaluation-detail {
    margin-top: 12px;
}
.pgs-annotations {
    margin-left: 16px;
    margin-top: 12px;
    font-size: small;
    font-style: italic;
}
.pgs-color1 {
    color: #3498db;
}
.pgs-color2 {
    color: #000000;
}
.pgs-color3 {
    color: #e74c3c;
}


/* pgs leaderboard view styling */
.pgs-leader-board {
    margin-top: 12px;
}
.pgs-leaders {
    margin-top: 24px;
}


/* pgs warning component styling */
.pgs-warning {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
	border-radius: 6px;
	margin-top: 12px;
	margin-left: calc(2.5%);
	margin-right: calc(2.5%);
	padding: 15px;
	position: absolute;
	top: 0;
	width: 95%;
	z-index: 1100;
	text-align: center;
}


/* pgs spinner component styling */
.pgs-spinner {
    border: 8px solid #f3f3f3; /* light grey */
    border-top: 8px solid #d5d5d5; /* grey */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    position: absolute;
    z-index: 3000;
    left: calc(45%);
    top: calc(45%);
}
.pgs-dim {
    opacity: .5;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/* pgs chart component styling */
.pgs-axis-label {
    font-weight: 400 !IMPORTANT;
}
.pgs-axis path,
.pgs-axis line {
	fill: none;
	stroke: gray;
	stroke-width: 1;
	shape-rendering: crispEdges;
}


/* overwritting bootstrap style definitions */
.active {
  stroke: #000;
  stroke-width: 2px;
  stroke: red;
}

.navbar {
	margin-bottom: 0 !IMPORTANT;
}
.navbar-brand {
	height: 36px !IMPORTANT;
}
.nav-link {
    margin-top: -8px;
}

.btn-group {
	margin: 6px;
}

.modal-description {
	margin-left: 16px;
}